@font-face {
  font-family: "ChakraPetch-Bold";
  src: url(../../assets/fonts/ChakraPetch-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "ChakraPetch-Regular";
  src: url(../../assets/fonts/ChakraPetch-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../../assets/fonts/Montserrat-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../assets/fonts/Montserrat-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../../assets/fonts/Montserrat-Medium.ttf) format("opentype");
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url(../../assets/fonts/Montserrat-MediumItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url(../../assets/fonts/Montserrat-Italic.ttf) format("opentype");
}
